/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "chartist.min";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
	background:#f8f8f8;
}
#app {
	padding-top: 10px;
	display: flex;
	min-height: 95vh;
	min-width: 1300px;
	flex-direction: column;
	header {
		h1 {
			text-align: center;
			display: block;
			font-family: "Oswald";
			margin: 0 0 20px;
			font-size: 20px;
			text-transform: uppercase;
		}
		.logotype {
			text-align: center;
			img {
				display: inline-block;
				margin: 0 auto 20px auto;
				max-width: 100%;
				width: 50px;
			}
		}
	}
	main {
		flex: 1;
	}
	footer {
		
	}
	h4 {
		&.background {
			background: #fff;
			padding: 10px 0;
			margin-bottom: 0;
		}
		font-weight: bold;
	}
	table {
		margin-bottom: 40px;
		&.table-filled {
			background:#fff;
			padding: 10px 0;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
		&.table > thead > tr > th {
			border-bottom-width: 1px;
		}
		a {
			color: #333333;
			&:hover,
			&:focus,
			&:active,
			&:visited {
				text-decoration: none;
				color: #333333;
			}
		}
		.fa-folder-open-o {
			margin-right: 5px;
		}
	}
	.btn {
		outline: none;
		&:focus,
		&:active {
			outline: none;
		}
	}
}
