/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "chartist.min";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	background:#f8f8f8;
}
#app {
	padding-top: 10px;
	display: flex;
	min-height: 95vh;
	min-width: 1300px;
	flex-direction: column;
	header {
		h1 {
			text-align: center;
			display: block;
			font-family: "Oswald";
			margin: 0 0 20px;
			font-size: 20px;
			text-transform: uppercase;
		}
		.logotype {
			text-align: center;
			img {
				display: inline-block;
				margin: 0 auto 20px auto;
				max-width: 100%;
				width: 50px;
			}
		}
	}
	main {
		flex: 1;
	}
	h4 {
		&.background {
			background: #fff;
			padding: 10px 0;
			margin-bottom: 0;
		}
		font-weight: bold;
	}
	table {
		margin-bottom: 40px;
		&.table-filled {
			background:#fff;
			padding: 10px 0;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
		&.table > thead > tr > th {
			border-bottom-width: 1px;
		}
		a {
			color: #333333;
			&:hover,
			&:focus,
			&:active,
			&:visited {
				text-decoration: none;
				color: #333333;
			}
		}
		.fa-folder-open-o {
			margin-right: 5px;
		}
	}
	.btn {
		outline: none;
		&:focus,
		&:active {
			outline: none;
		}
	}
	// Questions :: Header
	header.head {
		width: 1000px;
		margin: 0 auto;
		h1 {
			margin-top: 60px;
			margin-bottom: 30px;
			font-size: 32px;
			text-align: center;
			color: #2d3e50;
			font-family: 'Roboto Slab', serif;
			text-transform: none;
			font-weight: normal;
		}
		p {
			margin: 0;
			margin-bottom: 20px;
			font-size: 18px;
			color: #2d3e50;
			font-family: 'Open Sans', serif;
		}
		.steps {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			.step {
				font-size: 18px;
				width: 30%;
				span {
					font-size: 24px;
					color: #2ac0a1;
				}
			}
		}
	}
	// Questions
	#questions-region {

		#chapters {
			width: 1000px;
			padding: 0 2px;
			margin: 20px auto;
			background:#edf2f5;
			border-top: 12px solid #1bbc9b;
			font-size: 18px;
			color: #2d3e50;
			.chapter {
				header {
					padding: 30px 25px 5px 55px;
					border-bottom: 1px solid #dde2e5;
					h3 {
						margin: 0;
						font-size: 30px;
					}
					.counters {
						font-size: 30px;
						.current {
							color: #1bbc9b;
						}
					}
				}
				main {
					padding: 30px 25px 5px 55px;
					.questions-title {
						margin-bottom: 35px;
					}
					// Questions
					.questions {
						.question {
							margin-bottom: 35px;
							.question-title {
								margin-bottom: 35px;
							}
							.question-options {
								.question-option {
									margin-left: 15px;
									margin-bottom: 10px;
									&:last-child {
										margin-bottom: 0;
									}
									.radio {
										display: none;
									}
									.radio:checked + .option-label {
										border-bottom: 2px solid #2d3e50;
									}
									.option-label {
										color: #2d3e50;
										border-bottom: 2px solid transparent;
										display: inline-block;
										font-weight: bold;
										text-transform: capitalize;
										&:hover {
											cursor: pointer;
										}
									}
								}
							}
						}
					}
				}
				footer {
					padding: 0 25px 20px 55px;
					button {
						text-transform: uppercase;
						color: #fff;
						background:#5ac8ed;
						min-width: 155px;
						padding-top: 12px;
						padding-bottom: 10px;
						font-size: 17px;
						text-align: center;
						border: none;
						border-bottom: 2px solid #1dabcf;
						transition: all .2s ease-in-out;
						&:hover {
							text-shadow: 0px 1px 0px rgba(0,0,0,.2);
							background: lighten(#5ac8ed, 7%);
							border-bottom-color: lighten(#1dabcf, 7%);
						}
						&:focus,
						&:active {
							outline: none;
						}
						&.js-result {
							background: lighten(#1bbc9b, 7%);
							border-bottom: 2px solid #1bbc9b;
							&:hover {
								background: lighten(#1bbc9b, 10%);
								border-bottom-color: lighten(#1bbc9b, 4%);
							}
						}
					}
				}
			}
		}
		#result {
			width: 1000px;
			padding: 0 2px;
			margin: 20px auto;
			background:#edf2f5;
			border-top: 12px solid #FFD740;
			font-size: 18px;
			color: #2d3e50;
			min-height: 30vh;
			header {
				padding: 30px 25px 5px 55px;
				border-bottom: 1px solid #dde2e5;
				h3 {
					margin: 0;
					font-size: 30px;
				}
			}
			main {
				padding: 30px 25px 30px 55px;
				.pre-header {
					font-size: 18px;
					font-weight: bold;
					text-transform: capitalize;
					margin-bottom: 20px;
				}
			}
		}
	}
}
