<div class="container-fluid">
	<div id="app">
		<header>
			<div class="logotype">
				<img src="<%= image_url('backbone.png') %>" alt="">
			</div>
		</header>
		<main>
			<div id="user-region"></div>
			<div id="questions-region"></div>
		</main>
		<footer>
			<div class="text-center">
				Created by Oleg Drozdov. 2015
			</div>
		</footer>
	</div>
</div>

<%= javascript_tag do %>
	$(function() {
		var options = {
			history: true,
		};

		MR.start(options);
	});
<% end %>