<div id="user-region"></div>
<div id="user-details-region"></div>
<div id="charts-region"></div>
<div id="opportunity-review-region"></div>
<div id="account-review-region"></div>

<%= javascript_tag do %>
	$(function() {
		var options = {
			history: true,
		};
		MR.start(options);
	});
<% end %>